@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", serif;
    --font3: "Sriracha", serif;
    
}

*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
html,body{
    min-height: 100%;
    background-color: lightgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}


header h1{
    font-family: var(--font2);
    font-size: 10vw;
    padding-top: 50px;
    font-variant: small-caps;
}

header p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder; 
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font3);
    padding-top: 10%;
    padding-bottom:10%;
    line-height: 2;
    font-size: 4vw;
    padding: 30px;
}
section p{
    padding-bottom: 2em ;
}

section.normal{
    background-color: white;
}
section.imagen{
    background-color: rgb(70, 70, 70);
    color: white;
    box-shadow: inset 8px 8px 15px 0px rgba(0, 0, 0, 0.548);
    background-attachment: fixed;
}
section.imagen p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(50, 50, 50, 0.575);
    text-shadow: 2px 1px 1px black;
}
section#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
}




footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}